* {
	margin: 0px;
	padding: 0px;
}

body {
	color: #566787;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}
.table-responsive {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
}
.table-wrapper {
	min-width: 1000px;
	background: #81f0d6;
	padding: 20px 25px;
	margin: 1.6em auto;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
thead {
	background-color: #df491a;
	color: #fff;
}
table.table td a.view {
	color: #03a9f4;
}
table.table td a.edit {
	color: #ffc107;
}
table.table td a.delete {
	color: #e34724;
}
table.table td i {
	font-size: 19px;
}
