.page_content {
	/* position: absolute; */
	display: flex;
	flex-direction: column;
	/* height: 100%;
	width: calc(100% - 240px);
	left: 240px;
	background-color: #c4c4c4;
	padding: 35px 10px; */
	justify-content: center;
	align-items: center;
}

.table-responsive {
	display: flex;
	margin-top: 0px;
	justify-content: center;
	align-items: center;
	font-size: 11px;
}
.table-wrapper {
	background: #fff;
	padding: 12px 14px;
	margin: 1.6em auto;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
thead {
	background-color: #df491a;
	color: #fff;
}
#agregarBuscar .row tr {
	margin-top: 20px;
	/* margin-right: calc(100% - 240px); */
	height: 33px;
	width: 100%;
	position: relative;
	display: flex;
}

#agregarBuscar .row tr a {
	/* margin-top: 20px; */
	/* margin-right: calc(100% - 240px); */
	height: 38px;
	width: 200%;
	position: relative;
	display: flex;
}

.row {
	justify-content: space-evenly;
}
/* .btn.btn-primary {
	background-color: #df491a;
	color: #fff;
	align-content: stretch;
} */

.inputBusqueda input {
	height: 50px;
	border-radius: 6px;
	position: relative;
}

table.table td a.view {
	color: #03a9f4;
	margin: 2px;
}
table.table td a.edit {
	color: #ffc107;
	margin: 10px;
}
table.table td a.delete {
	color: #e34724;
	margin: 10px;
}
table.table td i {
	font-size: 19px;
}
