@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.contenedor {
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;

	display: grid;
	grid-template-columns: 240px auto;
	place-items: center;
}
.lateral {
	grid-row: 1/3;
	/* position: fixed; */
	background-color: orange;
	width: 240px;
	height: 100%;
	/* display: grid; */
}

.cabeza {
	background-color: rebeccapurple;
	margin: 20px;
}

.cuerpo {
	background-color: blueviolet;
}

.interno2 {
	background-color: white;
	align-self: end;
	justify-self: stretch;
}
