.page_content {
	/* position: absolute; */
	display: flex;
	flex-direction: column;
	/* height: 100%;
	width: calc(100% - 240px);
	left: 240px;
	background-color: #c4c4c4;
	padding: 35px 10px; */
	justify-content: center;
	align-items: center;
}

.table-responsive {
	display: flex;
	margin-top: 0px;
	justify-content: center;
	align-items: center;
}
.table-wrapper {
	background: #fff;
	padding: 12px 14px;
	margin: 1.6em auto;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
thead {
	background-color: #df491a;
	color: #fff;
}
#agregarBuscar {
	margin-top: 20px;
	/* margin-right: calc(100% - 240px); */
	width: 100%;
}

.row {
	justify-content: center;
}

.inputBusqueda input {
	height: 50px;
	border-radius: 6px;
	position: relative;
}
