/*
	@name project_natumarket
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }

#_bg__usuarios___registro {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 900px;
	background:rgba(255,255,255,1);
}


#rectangle_18 {
	top: 0px;
	left: 235px;
	width: 1205px;
	height: 900px;
	background:rgba(196,196,196,1);
}


#rectangle_21 {
	top: 196px;
	left: 410px;
	width: 650px;
	height: 546px;
	-ms-border-radius: 48px;
	-o-border-radius: 48px;
	-moz-border-radius: 48px;
	-webkit-border-radius: 48px;
	border-radius: 48px;
	border: 1px solid #df5428;
	background:rgba(129,240,214,1);
}

#group_3 {
	top: 642px;
	left: 632px;
	width: 304px;
	height: 55px;
}

#rectangle_27 {
	top: 0px;
	left: 0px;
	width: 147px;
	height: 55px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(240,156,129,1);
}


#actualizar {
	top: 18px;
	left: 34px;
	width: 98px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}

#group_1 {
	top: 0px;
	left: 157px;
	width: 147px;
	height: 55px;
}

#rectangle_27_ek1 {
	top: 0px;
	left: 0px;
	width: 147px;
	height: 55px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(240,156,129,1);
}


#eliminar {
	top: 18px;
	left: 34px;
	width: 83px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_21_ek1 {
	top: 299px;
	left: 475px;
	width: 200px;
	height: 57px;
}


#rectangle_23 {
	top: 380px;
	left: 475px;
	width: 200px;
	height: 57px;
}


#rectangle_26 {
	top: 461px;
	left: 828px;
	width: 200px;
	height: 57px;
}


#rectangle_22 {
	top: 299px;
	left: 714px;
	width: 314px;
	height: 57px;
}


#rectangle_24 {
	top: 380px;
	left: 714px;
	width: 314px;
	height: 57px;
}


#rectangle_25 {
	top: 461px;
	left: 475px;
	width: 314px;
	height: 57px;
}


#nombre {
	top: 328px;
	left: 726px;
	width: 82px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#direccion {
	top: 405px;
	left: 727px;
	width: 94px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#rol {
	top: 490px;
	left: 838px;
	width: 41px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}

#group_1_ek1 {
	top: 563px;
	left: 475px;
	width: 147px;
	height: 55px;
}

#rectangle_27_ek2 {
	top: 0px;
	left: 0px;
	width: 147px;
	height: 55px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(240,156,129,1);
}


#registrar {
	top: 18px;
	left: 34px;
	width: 90px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}

#group_2 {
	top: 642px;
	left: 475px;
	width: 147px;
	height: 55px;
}

#rectangle_27_ek3 {
	top: 0px;
	left: 0px;
	width: 147px;
	height: 55px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(240,156,129,1);
}


#registrar_ek1 {
	top: 18px;
	left: 34px;
	width: 90px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_27_ek4 {
	top: 0px;
	left: 0px;
	width: 147px;
	height: 55px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(240,156,129,1);
}


#buscar {
	top: 18px;
	left: 34px;
	width: 71px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#identificacion {
	top: 328px;
	left: 485px;
	width: 130px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#numero_de_contacto {
	top: 409px;
	left: 485px;
	width: 188px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#email {
	top: 490px;
	left: 485px;
	width: 61px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#usuarios {
	top: 58px;
	left: 302px;
	width: 157px;
	height: 58px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#volver_a_inicio {
	top: 79px;
	left: 961px;
	width: 131px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#707070;
}

#home_sharp {
	top: 69px;
	left: 924px;
	width: 30px;
	height: 30px;
}

#vector {
	top: 1.88px;
	left: 0px;
	width: 30px;
	height: 26.25px;
}


#rectangle_14 {
	top: 69px;
	left: 1099px;
	width: 203px;
	height: 30px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background:rgba(255,255,255,1);
}


#buscar_ek1 {
	top: 75px;
	left: 1110px;
	width: 177px;
	height: 42px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: left;
	color:#C4C4C4;
}

#search {
	top: 71px;
	left: 1269px;
	width: 24px;
	height: 24px;
}

#vector_ek1 {
	top: 2.25px;
	left: 2.25px;
	width: 19.46px;
	height: 19.46px;
}

#ellipsis_vertical_sharp {
	top: 73px;
	left: 1309px;
	width: 24px;
	height: 24px;
}

#vector_ek2 {
	top: 9.75px;
	left: 9.75px;
	width: 4.5px;
	height: 4.5px;
}


#vector_ek3 {
	top: 17.25px;
	left: 9.75px;
	width: 4.5px;
	height: 4.5px;
}


#vector_ek4 {
	top: 2.25px;
	left: 9.75px;
	width: 4.5px;
	height: 4.5px;
}

#frame_1 {
	top: 0px;
	left: 0px;
	width: 234px;
	height: 900px;
}

#rectangle_16 {
	top: 134px;
	left: 11px;
	width: 213px;
	height: 45px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ffffff;
	background:rgba(255,255,255,1);
}


#administrador {
	top: 145px;
	left: 59px;
	width: 135px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#DF6842;
}


#rectangle_17 {
	top: 0px;
	left: 234px;
	width: 1206px;
	height: 900px;
	background:rgba(229,229,229,1);
}

#frame_3 {
	top: 0px;
	left: 0px;
	width: 234px;
	height: 900px;
}

#rectangle_16_ek1 {
	top: 134px;
	left: 11px;
	width: 213px;
	height: 45px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ffffff;
	background:rgba(255,255,255,1);
}


#administrador_ek1 {
	top: 145px;
	left: 59px;
	width: 135px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#DF6842;
}


#rectangle_17_ek1 {
	top: 0px;
	left: 234px;
	width: 1206px;
	height: 900px;
	background:rgba(229,229,229,1);
}


#rectangle_20 {
	top: 214px;
	left: 0px;
	width: 235px;
	height: 57px;
}


#inicio {
	top: 230px;
	left: 85px;
	width: 59px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_21_ek2 {
	top: 289px;
	left: 0px;
	width: 234px;
	height: 57px;
	background:rgba(240,156,129,1);
}


#rectangle_22_ek1 {
	top: 364px;
	left: 0px;
	width: 234px;
	height: 57px;
	background:rgba(240,156,129,1);
}


#rectangle_23_ek1 {
	top: 439px;
	left: 1px;
	width: 234px;
	height: 57px;
	background:rgba(240,156,129,1);
}


#ventas {
	top: 306px;
	left: 79px;
	width: 71px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#usuarios_ek1 {
	top: 458px;
	left: 71px;
	width: 86px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#productos {
	top: 383px;
	left: 64px;
	width: 100px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#recurso_1_8 {
	top: 27px;
	left: 7px;
	width: 216px;
	height: 88px;
}



/* Add your custom CSS here */
